    <div class="section">  
        <div class="container">
          	<div class="row  portfolio-title">
	            <div class="col-lg-12">
	              <h1 class="page-header">[[*pagetitle]] <small>[[*longtitle]]</small></h1>
	              <hr>
	            </div>
          	</div>
            <div class="row">
                <div class="col-sm-7">
                  <img class="img-responsive" src="[[*projectScreenShot]]">
                </div>
                <div class="col-sm-4 col-sm-push-1 project-specs">
                  <h3>Project Specs</h3>
                  <p>[[*projectSpecs]]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-push-1 project-desc">
                    <h3>Project Description</h3>
                    <p>[[*content]]</p>
                    <a class="button center-button" href="[[*projectURL]]" target="_blank">Live Site <span class="icon" aria-hidden="true" data-icon="&#x23;"></span></a>
                </div>
            </div>
        </div><!-- /.container -->
    </div><!-- /.section -->
    
    <div class="section quote-bg arrow-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ">
            <h3>"[[*featuredQuote]]"</h3>
            <p>-[[*quotee]]-</p>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->
