    <div class="section folio-item">
      <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <a href="[[~[[+id]]]]">
          <img class="img-responsive" src="[[+tv.projectScreenShot]]">
          </a>
        </div>

        <div class="col-sm-6 col-md-6 project-brief">
          <h3>[[+pagetitle]]</h3>
          <h4>[[+longtitle]]</h4>
          <p>[[+description]]</p>
          <a class="button center-button" href="[[~[[+id]]]]">View Project <span class="icon" aria-hidden="true" data-icon="&#x23;"></span></a>
        </div>
      </div>
      </div>
    </div>
    <hr>
