      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <p>&copy; Copyright | [[++site_name]] - [[!Copyright]]</p>
            </div>
          </div>
        </div>
      </div>
