[[!MetaX? &tpl=`metax-html5` &favicon=`assets/img/everon-icon.png` &mobile=`` &copyfrom=`2014` &copytill=`` &rss=`` &css=`assets/css/global.css`]]

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>[[*longtitle:default=`[[*pagetitle]]`]] | [[++site_name]]</title>

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

<script src="assets/js/jquery-1.10.2.js"></script>

<script src="assets/js/bootstrap.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
