<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-nav" href="[[++base_url]]"><img class="logo" src="assets/img/everonwhite.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			[[pdoMenu?
				&startId=`0`
				&level=`1`
				&tplParentRow=`@INLINE
				<li class="[[+classnames]] dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" [[+attributes]]>[[+menutitle]]<b class="caret"></b></a>
					<ul class="dropdown-menu">[[+wrapper]]</ul>
				</li>`
				&tplOuter=`@INLINE [[+wrapper]]`
			]]
		    <li><a href="[[~1]]#contact">Contact</a></li>
		    <li><a href="http://facebook.com/everonweb" target="_empty"><i class="fa fa-facebook fa-lg"></i></a></li>
		    <li><a href="http://twitter.com/everonweb" target="_empty"><i class="fa fa-twitter fa-lg"></i></a></li>
		    <li class="visible-xs"><a class="menu-phone" href="tel:+15156390444"><span class="icon" aria-hidden="true" data-icon="&#x31;"></span> 515.639.0444</a></li>
		</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
