<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f3dafe52980155"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 6
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'everonweb'},
        {'service': 'twitter', 'id': 'everonweb'},
        {'service': 'instagram', 'id': 'everonweb'},
        {'service': 'rss', 'id': 'http://everonweb.com/thebottomline/rss'}
      ]
    }   
  });
</script>
<!-- AddThis Smart Layers END -->