
.articles-heading {
	padding: 4em 0 0;

	img {
		//margin: 0px auto;
		//height: 5em;
		margin: 0;
		}

	h1 {
		//padding-top: 2.5em;
		padding-left: 0;
		margin-left: -0.5em;
		margin-top: 0.65em;
		font-size: 2.74em;
		color: $dark-gray;
	}


	h2 {
		font-size: 2em;
		text-align: left;
		margin: 0 0 0 -0.5em;
		padding: 0 0 1em 0;
		text-align: left;
		//margin: 2em auto 0;
		}
}

.article-feed {
	padding: 2.5em 0 5em;
}

.article-row {
	background-color: $light-gray;
	padding: 3em 0;
	margin-bottom: 2em;
	//display: inline-block;
	//width: 100%;

	img {
		width: 200px;
	}
}

.fb-like { 
	margin: 1em 20px 0 0;
}

.article-body {
	padding-top: 0;
	background-color: white;
}

.post { 
	padding: 0;

	//background-color: $light-gray;
	
	h2 {
		margin: 0.75em 0 0;
		padding: 0;
		color: $gray;
		font-size: 2.5em;
		//text-align: justify;
	}

	p {
		font-size: 1.75em;
		//text-align: center;
		padding: 0;
	}

	.social-buttons {
		padding-top: 1em;
		
		#twitter-widget-0 {
			margin-top: 1em;
		}

	}

	.post-info {
		padding: 1em 0 0;
		margin: 0;

		.read-time {
			color: $brand;
		}

		.tags a {
			text-decoration: underline;

		}
	}
}

.entry {
	h2 {
		color: $brand;
		padding-bottom: 0;
		padding-top: 0.5em;
		margin-bottom: 0.25em;
		margin-left: -0.25em;
		font-size: 3em;
	}	

	p {
		font-size: 1.6em;
		text-align: justify;
		margin-top: 0;
		letter-spacing: -0.1px;

	}
}

.sidebar {
	text-align: center;
	margin: 0 0  4em 0;
	padding: 0 0 4em 0;

	h3 {
		color: $brand;
		//font-size: 4em;
	}

	ul {
		padding: 0;
	}

	li {
		list-style-type: none;
		color: $gray;
		text-indent: 0;
		font-size: 1.25em;
		}
	}



footer {
	background-color: $dark-gray;
	color: white;

	.button {
	margin-top: 2em;
	}

	p {
		color: white;
		text-align: justify;
	}
}



@media (min-width: $screen-sm-min) {
	
	.articles-heading {
		padding: 8.5em 0;

		h1 {
			font-size: 7.5em;
			margin-left: -0.75em;
			margin-top: -0.2em;
			margin-bottom: 0;
		}

		h2 {
			font-size: 2.75em;
			margin-left: -1.5em;
			margin-top: 0.25em;
			padding-left: 0;
			margin-bottom: 0.5em;
		}

	}

	.heading-logo {
			height: 10em;
	}

	.article-row {
		margin-bottom: 4em;
		padding: 0;

		.col-sm-5 {
			margin: 0 0 0 -15px;
			padding-left: 0;
		}

		.col-sm-7 {
			padding-right: 0;
			margin-right: 0;
		}
		
		img {
			width: 100%;
			height: auto;
			//margin-left: -30px;

			}
	}

	.article-feed {
		padding-top: 4em;

	}


	.post { 
		padding: 0;
		//background-color: $light-gray;
		
		h2 {
			margin: 0;
			padding: 0.5em 0 0;
			color: $gray;
			font-size: 3em;
			text-align: left;
		}

		p {
			font-size: 1.5em;
			text-align: left;
			padding: 0;
		}

		.read-time {
			color: $brand;
		}

		.tags a {
			text-decoration: underline;

		}
	}

.entry {
	h2 {
		color: $brand;
		padding-top: 0.5em;
		padding-bottom: 0;
		margin-bottom: 0.25em;
		margin-left: -0.25em;
		//font-size: 4em
	}	

	p {
		font-size: 1.6em;
		text-align: justify;
		margin-top: 0;
	}
}


}

@media (min-width: $screen-md-min) {
	.articles-heading {
		h1 {
			font-size: 10em;
			margin-left: -0.5em;
			margin-top: -0.2em;
			margin-bottom: 0;
		}

		h2 {
			font-size: 4em;
			margin-left: -1em;
			margin-top: 0.25em;
		}
	}

	.heading-logo {
		height: 15em;
	}

	.article-row {
		padding: 0;
		display: inline-block;
		width: 100%;
	}	

	.post {
		h2 {
			font-size: 3em;
			margin-left: 0em;
			margin-top: 0;
		}
		p {
			font-size: 1.5em;
			text-align: left;
			padding: 0;
		}

		.post-info {
			padding-top: 0.5em;
		}

		.read-time {
			color: $brand;
		}

		.tags a {
			text-decoration: underline;


		}

	}

.entry {
	h2 {
		color: $brand;
		padding-top: 0.5em;
		padding-bottom: 0;
		margin-bottom: 0.25em;
		margin-left: -0.25em;
		font-size: 3em;
	}	

	p {
		font-size: 1.8em;
		text-align: justify;
		margin-top: 0;
		letter-spacing: -0.2px;
	}
}

	.sidebar {
	text-align: left;
	margin: 0;
	padding: 0;

		h3 {
			color: $brand;
			font-size: 2.5em;
		}

		li {
			list-style-type: none;
			color: $gray;
			text-indent: 0;
			font-size: 1.5em;
			padding-left: 1.5em;
			}
		a:hover {
			text-decoration: underline;
		}	
	}
}
@media (min-width: $screen-lg-min) {
	.articles-heading {
		h1 {
			margin-left: -1em;
		}

		h2 {
			margin-left: -2.2em;
		}
	}

	.article-img {

	}

	.article-feed {
		padding-top: 6em;
	}

	.post {
		h2 {
			font-size: 4em;
			margin-left: 0;
		}

		p {
			font-size: 1.75em;
			//padding-bottom: 0.25em;
		}
	}

	.article-row {
		padding-bottom: 0em;
	}

	.entry {
		h2 {
			color: $brand;
			padding-top: 0.5em;
			padding-bottom: 0;
			margin-bottom: 0.25em;
			margin-left: -0.25em;
			font-size: 4em
		}	

		p {
			font-size: 1.8em;
			text-align: justify;
			margin-top: 0;
		}
	}

}
