@mixin button {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  //margin:  20px 0px 0px;
  padding: 20px;
  border-radius: 2px;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  background-color: $brand;
  display: inline-block;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.button {
	@include button;
}

.button:hover {
	color: $gray;
}

.int-button {
	@include button;
	padding: 10px;
	height: auto;
	display: inline-block;
}

.int-button:hover {
	color: $dark-gray;
}

.form-button {
	@include button;
	font-weight: 300;
	width: 100%;
	padding: 10px;
	display: block;
}

.form-button:hover {
	color: $dark-gray;
}

.invert-button {
	@include button;
	background-color: white;
	color: $brand;
}

.invert-button:hover {
	color: $dark-gray;
}

.center-button {
	display: block;
	width: 253px;
	padding: 20px;
	margin: 0 auto 20px;	
}
