/*:::::::::::::::::::::::::: GLOBAL :::::::::::::::::::::::::::::*/

html {
  height: 100%;
}

body {
	font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif; //font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	margin-top: 68px; 
	/* body margin for fixed top nav */
	//Font rendering 
	//-webkit-font-smoothing: none;
	//-webkit-font-smoothing: subpixel-antialiased;
	}

	h1{
		font-family: 'Lato', sans-serif;
	}
	h2 {
		font-family: 'Lato', sans-serif;
		font-size: 3.6em;
		font-weight: 500;
		color: $brand;
		text-align: center;
	}
	h3 {
		font-family: 'Lato', sans-serif;
		font-size: 3em;
		font-weight: 500;
	}
	
	p { 
	color: #666;
	margin: 3em 0 0 0;
	font-size: 1.8em;
	letter-spacing: .66px;
	line-height: 1.5em;
	font-weight: 400;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	}

a, a:hover {
	text-decoration: none;
	color: $gray;
}

.section-colored { background-color: $light-gray;}

.arrow-top { @include arrow-top;}

.arrow-bottom { @include arrow-bottom;}

.arrow-dark-gray { @include arrow-dark-gray}

.section-dark-gray {
	background-color: $dark-gray;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*:::::::::::::::::::::::::: NAV :::::::::::::::::::::::::::::*/


.nav{
	padding: 9px 0;
}

.navbar-ex1-collapse{
	font-weight: 400;
	font-size: 15px;
}


.navbar{
	background-color: $dark-gray;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: $brand;
}

.navbar-toggle { margin: 17px 20px 0;}

.logo {
	height: 30px;
	margin: 4px 0px;
}

// ACTIVE NAVLINK BACKGROUND
.navbar-inverse .navbar-nav .active {

	a, a:hover {
		color: $brand;
		background-color: #272727;
	}
}

.navbar-inverse .navbar-nav li a.menu-phone {
	color: $brand;
	background-color: white;
	margin-left: 0.5em; 
	border-radius: 2px;
	width: 10em;
}

.nav li a {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.alert-danger {
	background-color: none;
}
/*:::::::::::::::::::::::::: INTRO :::::::::::::::::::::::::::::*/

.intro p { padding: 0 0.6em;}

/*:::::::::::::::::::::::::: APPROACH :::::::::::::::::::::::::::::*/

.approach {
	background-color: $brand;
	background-image: url(../img/overlay.png);
	background-repeat: repeat;
}

.approach h2 {
	color: white;
	margin: 1em 0 1em;
	padding: 0 0 1em 0;
	border-bottom: solid rgba(255,255,255,0.5) 1px;
}

.approach h3 {
	font-size: 3.5em;
	//font-weight: 300;
}

.approach p {
	margin: 3em 0 0 0;
	font-size: 1.8em;
	letter-spacing: .66px;
	//font-weight: 300;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;

}

.approach-item h3, .approach-item p {
	color: white;
}

.approach-item {
	margin-bottom: 30px;
	text-align: center;	
}

.title {
	margin-bottom: 30px;
}

.approach-item {
	text-align: center;
}

.approach-item p {
	text-align: justify;
}

.icon {
  display: inline-block;
  vertical-align: top; /* Chrome 19 was weird with clickability without this */
}

.feature-icon {
	display: inline-block;
	position: relative;
	padding-bottom: 5em;
	//margin-bottom: 2em;
	cursor: default;
}

.approach-item .feature-icon .icon {
	background: rgba(255,255,255,0.15);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
	color: #fff;
}

.feature-icon .icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 6em;
	border-radius: 100%;
	box-shadow: inset 0 0 0 1px #666;
	color: #666;
	line-height: 2.1em;
	vertical-align: baseline;
	text-align: center;
}

.feature-icon:before {
	content: '';
	background: rgba(255,255,255,0.5);
	position: absolute;
	bottom: 0em;
	left: 50%;
	margin-left: -0.3em;
	width: 0.65em;
	height: 0.65em;
	display: block;
	border-radius: 100%;
	-webkit-transform: rotate(-270deg);
	-moz-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
	-o-transform: rotate(-270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.feature-icon:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0.65em;
	width: 1px;
	height: 4.25em;
	background: rgba(255,255,255,0.5);
	margin-left: -0.5px;
}

[data-icon]:before {
  font-family: icomoon; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

.icon {
  display: inline-block;
  //vertical-align: middle; /* Chrome 19 was weird with clickability without this */
}

@media (min-width: $screen-sm-min) { 
	.feature-icon {
		top: 3em;
	}

	.approach h3 {
		text-align: left;
	}

	.approach-item p {
		padding: 0;
	}

	.approach .invert-button {
		margin-top: 2em;
	}

}

@media (min-width: $screen-md-min) { 
	.approach h3 {
		text-align: center;
	}

	.feature-icon {
		margin-bottom: 4em;
	}

}


/*:::::::::::::::::::::::::: QUOTE :::::::::::::::::::::::::::::*/

.quote-bg {

	background: $dark-tint, url(../img/optimized-images/quote-bg-lg.jpg) no-repeat;
    background-size: cover;
    background-position:center;

	h3{
		font-size: 3em;
		letter-spacing: 0.07em;
		font-weight: 300;
		margin:  20px 0 30px;
		text-align: center;
		color: white; //rgba(255, 255, 255, 0.9);
	}
	p { 
		//font-size: 2em;
		//font-weight: 300;
		color: rgba(255, 255, 255, 0.7);
		text-align: center;
	}
}
@media (min-width: $screen-md-min) { 
	.quote-bg {
		background: $tint, url('../img/optimized-images/quote-bg-lg.jpg') no-repeat;
		background-size: cover;
    	background-position:center;
	}
}
/*:::::::::::::::::::::::::: PORTFOLIO :::::::::::::::::::::::::::::*/


.portfolio-item {
  margin: 30px 0;
}

.section {
	//background-color: #fff;
}

.section,
.section-colored {
  padding: 50px 0;
}

.logo-pin {
	height: 50px;
	width: auto;
	position: absolute;
	bottom: 0px;
	right: 0.5em;
}

@media (min-width: $screen-sm-min) {
	.logo-pin {
		bottom: -1em;
		right: 0.25em;
	}

}

@media (min-width: $screen-md-min) { 
	.logo-pin {
		height: 75px;
		bottom: -2.5em;
	}

	.section,
	.section-colored {
  		padding: 50px 0 75px;	
	}
}

/*:::::::::::::::::::::::::: OUR TEAM :::::::::::::::::::::::::::::*/

.team {
	text-align: center;
}

.team h2 {
	margin-bottom: 1.75em;
}

.team a {
	color: #666;
}

.team a:hover {
	color: $brand;
	text-decoration: underline;
}

.team a span {
	color: $brand;
}

.team-pic {
	margin-top: 2em;
	width: 150px;
}

/* 
//Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) { ... }

//Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) { ... }

//Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) { ... }
*/

@media (min-width: $screen-sm-min) {
	.team p, .team h3 {
		text-align: left;
	}
	.team p {

	}

	.team-pic {
		width: 100%;
	}
}





/*:::::::::::::::::::::::::: FORM :::::::::::::::::::::::::::::*/

.form-section { 
	background: $dark-tint, url(../img/optimized-images/coffee-sm.jpg) no-repeat;
    background-size: cover;
    background-position:center;

}

@media (min-width: $screen-md-min) {
	.form-section { 
	background: $tint, url(../img/optimized-images/coffee-lg.jpg) no-repeat;
	background-size: cover;
    background-position:center;
	}
}

.form-section h2{
	color: white;
}

form { 
	  
	  color: white;
		
	  	.form-title {
	  		margin-top: 50px;
	  		margin-bottom: 1.5em;
	  		letter-spacing: 1px;
	  	}

		.input-style {
			width: 100%;
			display: block;
			padding: 10px;
			margin: 15px 0;
			font-size: 15px;
			font-weight: 300;
			border-radius: 2px;
			color: white;
			border: 1px solid white;
			background-color: transparent;
		}
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 7px #88F4D0;
  //border: 1px solid rgba(81, 203, 238, 1);
}

form .invert-button {
	font-size: 2.5em;
	width: 100%;
	letter-spacing: 0.05em;
	margin-bottom: 0.25em;
}

form p {
	text-align: center;
	color: white;
	padding: 0;
	margin: 0;
}

.alert-danger p {
	color: red;
}

.alert-success p {
	color: green;
}

/*:::::::::::::::::::::::::: FOOTER :::::::::::::::::::::::::::::*/

#footer {
  	height: 65px;
	padding-top: 0;
	padding-bottom: 0;
	background-color: $dark-gray;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}