@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Needed for a fluid height: */
// html, body, 
.services-container { 
	//height: 100%;
	width: 90%;
	margin: 10% auto 0;
}

.services-main { 
	height: 100%;
}

/* main wrapper */
.cbp-contentslider {
	width: 100%;
	height: 100%;
	margin: 5em auto;
	position: relative;
	border: 4px solid white;
}

.cbp-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 100%;
	//overflow: hidden;
	position: relative;
	padding: 0;
	margin: 3.313em 0 0;
}

.cbp-contentslider > ul li {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 3.313em;
	padding: 1em;
	background: #fff;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
	z-index: 100;
}

.cbp-contentslider nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3.313em;
	z-index: 1000;
	border-bottom: 4px solid $medium-gray;
	overflow: hidden;
}

.cbp-contentslider nav a {
	float: left;
	display: block;
	width: 33.333%;
	height: 100%;
	font-weight: 400;
	letter-spacing: 0.1em;
	overflow: hidden;
	color: $medium-gray;
	background: #fff;
	outline: none;
	text-align: center;
	line-height: 3;
	position: relative;
	padding-left: 3.125em;
	text-transform: uppercase;
	border-right: 4px solid $medium-gray;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cbp-contentslider nav a span {
	display: block;
}

.cbp-contentslider nav a:last-child {
	border: none;
	//box-shadow: 1px 0 $medium-gray; /* fills gap caused by rounding */
}

.cbp-contentslider nav a:hover {
	background-color: $medium-gray;
	color: #fff;
}

.cbp-contentslider nav a.rc-active {
	background-color: $medium-gray;
	color: #fff;
}

/* Iconfont for navigation and headings */
.cbp-contentslider [class^="icon-"]:before, 
.cbp-contentslider [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	text-align: center;
	speak: none;
	font-weight: normal;
	line-height: 2.5;
	font-size: 2em;
	position: absolute;
	left: 10%;
	top: 50%;
	margin: -1.250em 0 0 0;
	height: 2.500em;
	width: 2.500em;
	color: rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
}

.cbp-contentslider .icon-design:before {
	content: "\e603";
}

.cbp-contentslider .icon-development:before {
	content: "\e600";
}

.cbp-contentslider .icon-marketing:before {
	content: "\e602";
}

.cbp-contentslider [class^="icon-"].rc-active:before, 
.cbp-contentslider [class*=" icon-"].rc-active:before,
.cbp-contentslider nav a:hover:before {
	color: $brand;
}

.cbp-contentslider h3 {
	font-size: 4em;
	height: 2em;
	line-height: 1.7;
	font-weight: 300;
	margin: 0 0 0.3em;
	position: relative;
	color: $medium-gray;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.3em;
	padding: 0 0.2em 2.5em 0;
	border-bottom: 4px solid $medium-gray;
}

.cbp-contentslider h3[class^="icon-"]:before, 
.cbp-contentslider h3[class*=" icon-"]:before {
	top: 0;
	left: 0;
	width: 2em;
	line-height: 0.8;
	height: 1.2em;
	margin: 0;
	color: $medium-gray;
}

.cbp-contentslider li > div {
	position: relative;
	top: 13em;
	bottom: 3.313em;
	width: 100%;
	left: 0;
	padding: 0 1em;
	overflow-x: hidden;
	overflow-y: auto;
}

.cbp-contentslider .cbp-content {
	-webkit-column-rule: 1px dashed $medium-gray;
	-moz-column-rule: 1px dashed $medium-gray;
	column-rule: 1px dashed $medium-gray;
	/*
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	-o-column-gap: 1em;
	column-gap: 1em; */
	vertical-align: top;	
	padding: 1em 0;
}

.cbp-contentslider p {
	color: $medium-gray;
	padding: 0 0.5em 0.4em;
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	text-align: justify;
	line-height: 1.6;
}

/* Media queries */

@media screen and (max-width: 70em) { 
	.services-container { 
	margin: 15% auto 0;
	}

}

@media screen and (max-width: 67.75em) {

	.cbp-contentslider { font-size: 85%; }

	.cbp-contentslider p { font-size: 1.5em; }

	.cbp-contentslider nav a[class^="icon-"]:before, 
	.cbp-contentslider nav a[class*=" icon-"]:before {
		//left: 50%;
		margin-left: -1.250em;
	}
}

@media screen and (max-width: 43em) {

	.services-container { 
		width: 90%;
		//height: 80%;
		margin: 20% auto 0;
	}

	.cbp-contentslider h3 {
		font-size: 2em;
	}

	.cbp-contentslider .cbp-content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}

	.cbp-contentslider li > div {
		top: 6em;
	}

	.cbp-contentslider nav a[class^="icon-"], 
	.cbp-contentslider nav a[class*=" icon-"] {
		float: left;
		text-align: center;
		padding-left: 0;
	}

	.cbp-contentslider nav a[class^="icon-"]:before, 
	.cbp-contentslider nav a[class*=" icon-"]:before {
		display: none;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-contentslider nav a { padding: 0;}
	.cbp-contentslider h3[class^="icon-"]:before, 
	.cbp-contentslider h3[class*=" icon-"]:before { display: none;}

	.cbp-contentslider nav a[class^="icon-"]:before, 
	.cbp-contentslider nav a[class*=" icon-"]:before {
		display: block;
		left: 50%;
		margin-left: -1.250em;
	}

	.cbp-contentslider nav a span {
		display: none;
	}

	.cbp-contentslider p { text-align: left; }
	
	.services-container { 
		width: 98%;
		margin: 30% auto 0;
	}


}