

/*:::::::::::::::::::::::::: CAROUSEL :::::::::::::::::::::::::::::*/

.carousel-fade {
  height: 75%;
  min-height: 600px;
  z-index: 1;
  background-color: #000;


  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -webkit-transform: translateZ(0px);
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }

  .carousel {
  }

  .carousel-inner, 
  .carousel-inner .item {
    height: 100%;
  }

  .item:nth-child(1) {
    background: $dark-tint, url('../img/optimized-images/desktop-sm.jpg');
    background-size: cover;
    background-position:center;
  }

  .item:nth-child(2) {
    background: $dark-tint, url('../img/optimized-images/tablet-sm.jpg');
    background-size: cover;
    background-position:center;
  }

  .item:nth-child(3) {
    background: $dark-tint, url('../img/optimized-images/iphone-sm.jpg');
    background-size: cover;
    background-position:center;
  }

  .carousel-indicators {
    padding: 30px;
  }
}

/*:::::::::::::::::::::::::: TEXT CONTENT :::::::::::::::::::::::::::::*/

.intro-header {
  background: none;
  position: absolute;
  top: 6.5em;  /* If you're making other pages, make sure there is 68px of padding to make sure the navbar doesn't overlap content! */
  width: 100%;
  z-index: 999;
  color: #f8f8f8;
  text-align: left;
}

  .intro-message {
      margin-left: auto;
      margin-right: auto;
      padding-top: 7.5em;
  

    h3 {
      font-size: 2.8em;
      font-weight: 300;
      letter-spacing: 1.5px;
      margin:  15px 0 50px 0px;
    }

    h1 {
      font-size: 4.5em;
      font-weight: 600;
      margin: 0;
  

      span {color: $brand;}
    }

  }


@media (min-width: $screen-sm-min) { 
     .intro-header{
        padding-top: 4.5em;
      }
    
    .intro-message {


      h3 {
        //width: 80%;
        //font-size: 2.8em;
        //font-spacing: 1px;
        font-weight: 300;
        //letter-spacing: 1px;
        margin: 20px 0 50px;
        //text-transform: none;*/
        }

      h1 {
        font-size: 6em;
         
        } 

     }

}
 


@media (min-width: $screen-md-min) { 

  .carousel-fade {

    //this is were we use bigger photos
    .item:nth-child(1) {
      background: $tint, url('../img/optimized-images/desktop-lg.jpg');
      background-size: cover;
      background-position:center;
    }

    .item:nth-child(2) {
      background: $tint, url('../img/optimized-images/tablet-lg.jpg');
      background-size: cover;
      background-position:center;
    }

    .item:nth-child(3) {
      background: $tint, url('../img/optimized-images/iphone-lg.jpg');
      background-size: cover;
      background-position:center;
    }
  }


    .intro-header{
        padding-top: 4.5em;
      }

      .intro-message {



        h3 {
          width: 80%;
          font-size: 3em;
          //font-weight: 300;
          letter-spacing: 1px;
          margin:  20px 0 50px;
          text-transform: none;
          }

          h1 {

          font-size: 6.5em;
          padding-right: 2em;
          margin: 0;
         }

        
      }
    }

    @media (min-width: $screen-lg-min) { 
        
    .intro-header{
        padding-top: 3.5em;
      }

        .intro-message {

        h3 {
          padding-right: 4em;
          //font-weight: 300;
          }

          h1 {

          font-size: 7em;
          padding-right: 4em;
          margin: 0;
          
         }

        
      }
    }


