.portfolio-title{
	color: $brand;
	padding-bottom: 0;

	h1 {
		//margin: 1em 0 0;
		border: none;
		font-size: 5em;
		font-weight: 400;
		text-align: center;
	 }
}
.page-header {
	margin: 0;
}

ol.breadcrumb {  
	font-size: 1.5em;
	margin: 10px 0;
	border-radius: 2px;
	//background-color: #66C7A8;
}


.project-brief {
	margin-top: 3em;

	h3 {
		margin: 0px;
		padding-top: 0em;
		font-size:3em;
		color: $gray;
		text-align: center;
	}

	p {
		text-align: justify;
	}
}

.folio-item {
	margin: 0 20px;

	img{
		padding-bottom: 20px;
	}
}

.project-desc {
	h3 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
}

.project-specs {
	text-align: center;
}

@media (min-width: $screen-sm-min) { 
	.portfolio-title h1 {
		font-size: 6em;
		font-weight: 400;
		text-align: center;
	}

	.folio-item {
		img{
			padding: 0 2em 2em;
		}
	}

	.project-brief {
		padding: 0 5%;

		h3 {
			font-size:3em;
			text-align: left;
		}
		p {
			//font-weight: 300;
		}
	}

	.project-desc {
		margin-top: 4em;
		h3 {
			text-align: left;
		}
	}

	.project-specs {
		text-align: left;
	}


}

@media (min-width: $screen-md-min) { 
	.portfolio-title h1 {
		font-size: 6em;
		font-weight: 500;
	}
	
	.folio-item {
		margin: 0 0 0 0em;

		img{
			padding: 0 3em 0 5em;
		}
	}

	.project-brief {
		margin-top: 0;
		text-align: left;
		h3 {
			font-size:3em;
		}
		p {

		}
	}

	.project-brief .button {
		margin-top: 2em;
	}
	
	.project-specs {
		margin-top: 2em;
	}
		
}

@media (min-width: $screen-lg-min) { 

		
}
