.tabs {
	//padding-bottom: 0;
	margin-bottom: -1px;
}

.nav-tabs {
	padding-bottom: 0px;
	//margin: 0 60px;
}

.nav-tabs li a { 
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: white;
	background-color: $brand;
}

.nav-tabs li.active a {
	color: $gray;
}

.nav-tabs li a:hover { 
	background-color: $brand;
}

.tab-content {
	border-top: solid #dddddd 1px;
	padding-top: 0px;
	padding-bottom: 0;

}

/*:::::::::::::::::::::::::: HEADING :::::::::::::::::::::::::::::*/

.service-head {
	background-color: white;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 30px;
	text-align: center;
	width: 100%;
}

.service-head h2 {

}

.service-head p {
}

.service-head .icon { 
	margin-right: 10px;
}

.service-head h2 span.icon {
	//display: block;
	background-color: $gray;
	border-radius: 100%;
	padding: 0.5em;
	margin-bottom: 0.5em;
	width: 2.15em;
	//margin: 0 auto 0.7em;
	color: white;
}

/*:::::::::::::::::::::::::: BODY :::::::::::::::::::::::::::::*/

.service-body {
	padding-top: 3em;
	padding-bottom: 6em;
	background-color: $light-gray;

}

.service-body h3 {
	//font-size: 1.75em;
	color: $gray;
	margin-top: 1.5em;
	text-align: center;
}

.service-body p {
	font-weight: light;
	text-align: justify;

}

.service-graphic {
	padding: 5em 5em 0 5em;
}


/* 
//Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) { ... }

//Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) { ... }

//Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) { ... }
*/

@media (min-width: $screen-sm-min) {
	.tabs {
	padding-bottom: 0; //adds space to the bottom of navs on mobile to make them centered in the "header section"
	}

	.service-graphic {
		padding: 3em 2em 0;
	}

}

@media (min-width: $screen-md-min) {
	.service-body h3 {
		margin-top: 3em;
	}

	.service-graphic {
		padding: 5em 3em;
	}
}	

