$brand:			#35B88F;
$dark-gray:		#272727;
$gray:        #555;
$medium-gray: #9F9F9F;
$light-gray:	#efefef;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
$tint: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
$dark-tint: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.45));

@mixin arrow-top {
	position: relative;
	
	&:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: -20px;
    height: 20px;
    border-bottom: 20px solid white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
    } 
          &:before {
			    left: 0;
			    width: 50%;
			    border-right: 30px solid transparent;
			}
		  &:after {
			    right:0;
			    width: 50%;
			    border-left: 30px solid transparent;
			}
} 
@mixin arrow-bottom {
	position: relative;
	
	&:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 20px;
    margin-top: -20px;
    height: 20px;
    border-bottom: 20px solid transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
    } 
          &:before {
			    left: 0;
			    width: 50%;
			    border-right: 30px solid white;
			}
		  &:after {
			    right:0;
			    width: 50.1%; // 0.1% added to defeat Safari rounding
			    border-left: 30px solid white;
			}
} 
@mixin arrow-dark-gray {
	position: relative;
	
	&:before, &:after {
    content: '';
    position: absolute;
     z-index: 2;
    top: 0;
    margin-top: -20px;
    height: 20px;
    border-bottom: 20px solid $dark-gray;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
    } 
          &:before {
			    left: 0;
			    width: 50%;
			    border-right: 30px solid transparent;
			}
		  &:after {
			    right:0;
			    width: 50%;
			    border-left: 30px solid transparent;
			}
} 
//$font-stack:    Helvetica, sans-serif;
/* 
//Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) { ... }

//Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) { ... }

//Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) { ... }
*/