    <div class="section arrow-bottom approach">
      <div class="container">
        <h2>Our Approach</h2>
        <div class="row">
          <div class="col-sm-12 col-md-4 approach-item">
            <div class="col-sm-3 col-md-12">
              <span class="feature-icon">
              <span class="icon" aria-hidden="true" data-icon="&#x22;"></span>
              </span>
            </div>
            <div class="col-sm-9 col-md-12">
              <h3 class><br class="visible-md">Concept Build</h3>
              <p>We partner with you to identify the keys to your organization's success. Beginning with our initial meeting, the Concept Build, together we will clearly determine the building blocks vital to your online image and interaction.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 approach-item">
            <div class="col-sm-3 col-md-12">
              <span class="feature-icon">
              <span class="icon" aria-hidden="true" data-icon="&#x26;"></span>
              </span>
            </div>
            <div class="col-sm-9 col-md-12">
              <h3>Design &amp; Execution</h3>
              <p>When design extends beyond aesthetics to functionality, an engaging experience is created—connecting you with your audience. We capture your branding and house it in your own solid, manageable site that will deliver connections again and again.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 approach-item">
            <div class="col-sm-3 col-md-12">
              <span class="feature-icon">
              <span class="icon" aria-hidden="true" data-icon="&#x29;"></span>
              </span>
            </div>
            <div class="col-sm-9 col-md-12">
              <h3>Guidence for Growth</h3>
              <p>You're not left on your own once your site is functioning. The forward thinking that guides our concept building and design process continues to supply ongoing direction with site performance analysis and recommendations.</p>
            </div>
          </div>
        </div><!-- /.row -->
            <div>
              <a href="#contact" class="invert-button center-button">book a coffee 
              <span class="icon" aria-hidden="true" data-icon="&#x23;"></span>
              </a></div>
      </div><!-- /.container -->
    </div><!-- /.section -->