   [[!FormIt?
         &hooks=`spam,email`
         &emailTpl=`ContactEmailTpl`
         &emailTo=`contact@everonweb.com`
         &emailSubject=`Contact from everonweb.com`
         &redirectTo=``
         &validate=`name:required,
                    email:email:required,
                    message:required:stripTags`
        &clearFieldsOnSuccess=`1`
        &successMessage=`</br><div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>Thank you for contacting us!</br>We will be in touch soon.</p>
            </div>`
      ]]
  <div class="section arrow-bottom form-section" id="contact">
        <div class="container">
        <div class="row">    
          <div class="col-sm-6 col-sm-push-3 col-lg-4 col-lg-push-4">
            <form action="[[~[[*id]]]]#contact" method="post" class="form">
              <h2 class="form-title text-center">Get in touch</h2>
              <a href="tel:+15156390444">
                  <div class="button invert-button center-button"><span class="icon" aria-hidden="true" data-icon="&#x31;"></span> 515.639.0444</div>
              </a>
              <p>-or-</p>
                [[!+fi.validation_error_message:!empty=`
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <ul>
                        [[!+fi.error.name:!empty=`<p><strong>Name</strong> is a required field</p>`]]
                        [[!+fi.error.email:!empty=`<p>Please, enter a valid <strong>email address</p></strong>.`]]
                        [[!+fi.error.message:!empty=`<p><strong>Message</strong> is a required field</p>`]]
                    </ul>
                </div>`]]                      
                         <input type="hidden" name="nospam:blank" value="" />
                       
                          <!--<label for="name">
                               Name:
                              <span class="alert alert-danger">[[!+fi.error.name]]</span>
                          </label></br> -->
                          <input class="input-style" type="text" name="name" id="name" value="[[!+fi.name]]" placeholder="name" />
                       
                          <!-- <label for="email">
                              Email:
                              <span class="alert alert-danger">[[!+fi.error.email]]</span>
                          </label></br>  -->
                          <input class="input-style" type="text" name="email" id="email" value="[[!+fi.email]]" placeholder="email" />
                       
                          <!-- <label for="text">
                               Message:
                              <span class="alert alert-danger">[[!+fi.error.text]]</span>
                          </label></br>  -->
                          <textarea class="input-style" name="message" id="text" value="[[!+fi.text]]" placeholder="message">[[!+fi.text]]</textarea>
    
                          <!-- <br class="clear" />
                          [[!+formit.recaptcha_html]]
                          [[!+fi.error.recaptcha]]
                       
                          <br class="clear" /> -->
                       
                              <input class="btn form-button" type="submit" value="Send" />
                              [[!+fi.successMessage]]
            </form>
            </div>
          </div>
        </div>
      </div>
