    <div class="section arrow-white arrow-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          <a href="[[~3]]"><h2>Examples of Our Work<hr></h2></a>
          </div>
            [[!getResources? &parents=`3` &tpl=`homePortfolioProject` &processTVs=`1` &includeTVs=`1` &includeContent=`1` &limit=`3`]]
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->