    <div id="hero-carousel" class="carousel slide carousel-fade">
      <ol class="carousel-indicators">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
        <li data-target="#hero-carousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <!-- Carousel nav
      <a class="carousel-control left" href="#hero-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#hero-carousel" data-slide="next">&rsaquo;</a>  -->
    </div>

    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1><span>Web</span> Design, Development &amp; Marketing</h1>
              <h3>Together we'll create a clear message, accessible on any device, that allows your audience to find and connect with you.</h3>
                <div class="int-button">
                    <a href="#intro" class="int-button"> let's move forward 
                      <span class="icon" aria-hidden="true" data-icon="&#x23;"></span>
                    </a>
                </div>
            </div>  
          </div>
        </div> 
      </div><!-- /.container -->
    </div><!-- /.intro-header -->