    <div id="intro" class="section intro arrow-top">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center">Forward Thinking, Forward Doing</h2>
            <div class="text-center">
              <p>We put the most current internet technologies to work for you. Positioning ourselves to deliver digital products through industry-leading methods is the pursuit that drives us ever on.</p>
            </div>
          </div>
        </div>  
      </div><!-- /.container -->
    </div><!-- /.section -->