    <div class="section quote-bg arrow-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ">
            <div id="QuoteCarousel" class="carousel slide">
              <!-- Indicators
                <ol class="carousel-indicators">
                  <li data-target="#QuoteCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#QuoteCarousel" data-slide-to="1"></li>
                  <!-- <li data-target="#QuoteCarousel" data-slide-to="2"></li>
                </ol>  -->
        
                <!-- Wrapper for slides -->
                <div="container">
                <div class="carousel-inner">
                    [[!getResources? &parents=`3` &limit=`2` &tplFirst=`quoteTplActive` &tpl=`quoteTpl` &processTVs=`1` &includeTVs=`1` &includeContent=`1`]]
                </div>
                </div>
        
                <!-- Controls 
                <a class="left carousel-control" href="#QuoteCarousel" data-slide="prev">
                  <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#QuoteCarousel" data-slide="next">
                  <span class="icon-next"></span>
                </a> -->
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->
