    <div class="section tabs">
      <div class="container">
            <ul class="nav nav-tabs nav-justified" id="myTab">
                <li><a data-toggle="tab" href="#sectionA">Design</a></li>
                <li><a data-toggle="tab" href="#sectionB">Development</a></li>
                <li><a data-toggle="tab" href="#sectionC">Marketing</a></li>   
            </ul>
      </div>
    </div>
    <div class="section tab-content">
      <div id="sectionA" class="tab-pane fade in active">
          <div class="row service-head">
            <div class="col-sm-8 col-sm-push-2">
              <h2>
                <span class="icon" aria-hidden="true" data-icon="&#x26;"></span><br>
                Design</h2>
              <p>You've identified the need for your organization to have a website. Build it with designers who utilize the elements neccessary to impact your audience.</p>
            </div>
          </div>  
          <div class="section service-body arrow-bottom">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 col-sm-push-8">
                  <img class="center-block img-responsive service-graphic" src="assets/img/visual.png"/>
                </div>                
                <div class="col-sm-8 col-sm-pull-4">
                  <h3>Visual Communication</h3>
                  <p>Volume of information is too often mistaken for effective communication. We bring focus to a website's message not only through insightful content editing, but also with clear visual indicators calling the audience to action.</p>
                </div>
              </div>
              <div class="row">  
                <div class="col-sm-4">
                  <img class="center-block img-responsive service-graphic" src="assets/img/mobile-first.png"/>
                </div>
                <div class="col-sm-8">
                  <h3>Mobile First Design</h3>
                  <p>Capturing your audience on any device they browse on is so important that Google now factors it into their rankings. We'll design your content to be beautiful and accessible on any screen size.</p>
                </div>              
              </div>
            </div>
          </div>    
      </div>
      <div id="sectionB" class="tab-pane fade">
          <div class="row service-head">
            <div class="col-sm-8 col-sm-offset-2">
              <h2>
                <span class="icon" aria-hidden="true" data-icon="&#x21;"></span><br></span>
                Development</h2>
              <p>Your website is an investment. Maximize your dividends.</p>
            </div>
          </div>  
          <div class="section service-body arrow-bottom">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 col-sm-push-8">
                  <a href="http://modx.com" alt="ModX Content Management System" target="_blank">
                  <img class="center-block img-responsive service-graphic" src="assets/img/modx.png"/>
                  </a>
                </div>                
                <div class="col-sm-8 col-sm-pull-4">
                  <h3>Scalable Content Management System</h3>
                  <p>Lay the foundation of your organization's web home on a foundation that will grow with you. The CMS (content management system) that we integrate into every site streamlines content editing for small business while being robust enough to handle enterprise level site management and security.</p>
                </div>
              </div>
              <div class="row">  
                <div class="col-sm-4">
                  <img class="center-block img-responsive service-graphic" src="assets/img/ux.png"/>
                </div>
                <div class="col-sm-8">
                  <h3>Interactive Experiences</h3>
                  <p>You need more than just a cookie-cutter template. We take pride in creating unique web experiences that site visitors will remember and gravitize to your brand.</p>
                </div>              
              </div>
              <div class="row">  
                <div class="col-sm-4 col-sm-push-8">
                  <img class="center-block img-responsive service-graphic" src="assets/img/automated.png"/>
                </div>
                <div class="col-sm-8 col-sm-pull-4">
                  <h3>Automate Processes</h3>
                  <p>Your time is valuable. Let us build tools into your site that will save you time you'd spend manually entering data, duplicating content, and other tasks, so you can focus your efforts elsewhere.</p>
                </div>              
              </div>
            </div>
          </div>
      </div>
      <div id="sectionC" class="tab-pane fade">
          <div class="row service-head">
            <div class="col-sm-8 col-sm-offset-2">
              <h2>
                <span class="icon" aria-hidden="true" data-icon="&#x28;"></span><br>
                Marketing</h2>
                <p>You have great products and people. Let's spread the word.</p>
            </div>
          </div>  
        <div class="section service-body arrow-bottom">
          <div class="container">  
            <div class="row">  
              <div class="col-sm-4">
                <img class="center-block img-responsive service-graphic" src="assets/img/id.png"/>
              </div>
              <div class="col-sm-8">
                <h3>Brand Identity</h3>
                <p>Stand out from the crowd. We give your organization's image a rich, iconic character&mdash;transforming it into a hive of loyal audience activity.</p>
              </div>              
            </div>
            <div class="row">  
              <div class="col-sm-4 col-sm-push-8">
                <img class="center-block img-responsive service-graphic" src="assets/img/social.png"/>
              </div>
              <div class="col-sm-8 col-sm-pull-4">
                <h3>Social Media</h3>
                <p>Facebook, Twitter, Instagram, Google+, LinkedIn, blog sites, and the mountain of other social media available are powerful tools, but can feel like a maze for a site owner to navigate. We will guide you in focusing your efforts and your dollars where it counts for your specific audience.</p>
              </div>              
            </div>
          </div>
        </div>  
      </div>
    </div>
[[$examples]]
[[$contact]]