    <div class="section team arrow-top">      
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
             <h2>Our Team<hr></h2>   
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
              <div class="col-xs-12 col-sm-5">
                <img class="img-responsive img-circle center-block team-pic" src="assets/img/Noe-Azar.jpg"/>
              </div>
              <div class="col-xs-12 col-sm-7">
                <h3>Noe Azar</h3>
                <p><a href="https://plus.google.com/111149502896832753587/" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x25;"></span> Google+</a></br>
                <a href="https://twitter.com/mrnoeazar" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x24;"></span> Twitter</a></br>
                <a href="http://www.linkedin.com/pub/noe-azar/30/569/20a" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x27;"></span> LinkedIn</a></br>
                <a href="mailto:noe@everonweb.com?Subject=Direct%20Contact%20from%everonweb.com" target="_top">noe@everonweb.com</a></p>
              </div>              
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-push-1">
              <div class="col-xs-12 col-sm-5">
                <img class="img-responsive img-circle center-block team-pic" src="assets/img/Steve-Houtz.jpg"/>
              </div>
              <div class="col-xs-12 col-sm-7">
                <h3>Steve Houtz</h3>
                <p><a href="https://plus.google.com/+SteveHoutz12" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x25;"></span> Google+</a></br>
                <a href="https://twitter.com/stevehtz" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x24;"></span> Twitter</a></br>
                <a href="http://www.linkedin.com/in/stevehtz" target="_blank"><span class="icon" aria-hidden="true" data-icon="&#x27;"></span> LinkedIn</a></br>
                <a href="mailto:steve@everonweb.com?Subject=Direct%20Contact%20from%everonweb.com" target="_top">steve@everonweb.com</a></p>
              </div>
            </div>
           </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->