<div class="section section-dark-gray arrow-dark-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <footer>
          <p>
          Have questions, feedback, or want to learn more about the topics covered in this article?</p><p>We would love to talk to you about your business or web project.
          </p>
          <a class="button center-button" href="[[~1]]#contact">Give us a shout! <span class="icon" aria-hidden="true" data-icon="&#x23;"></span></a>  
        </footer>
        </article>
      </div>
    </div>
  </div>
</div>
