  <div class="section articles-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-3">
            <a href="[[~6]]"><img class="img-responsive heading-logo" src="assets/img/bottomline-darklogo.png">
          </div>
          <div class="col-xs-9">
            <h1>[[#6.pagetitle]]</h1>
          <h2>[[#6.description]]</h2></a>
        </div>
      </div>
    </div><hr>
  </div>    
