        <div class="row article-row">
            <div class="col-sm-12">
              <div class="col-sm-5">
                <a href="[[~[[+id]]]]"><img class="img-responsive article-image" src="[[+tv.articleImage]]"/>
              </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-12 col-sm-7">
                <div class="post">
                  <h2 class="title">[[+pagetitle]]</a></h2>
                  <p class="post-info">
                    <!-- [[%articles.posted_by]] <a href="[[~[[*id]]]]author/[[+createdby:userinfo=`username`]]">[[+createdby:userinfo=`username`]]</a> --> 
                    <span class="date">[[+publishedon:strtotime:date=`%b %d, %Y`]]</span> <br> 
                    [[+tv.readTime:notempty=`<span class="read-time">[[+tv.readTime]] minute read</span>`]]
                    [[+tv.articlestags:notempty=`| <span class="tags">[[%articles.tags]]: [[!tolinks? &items=`[[+tv.articlestags]]` &target=`[[*id]]` &useTagsFurl=`1`]]</span>`]]
                  </p>
                  <!-- <div class="entry">
                  <p>You’ve heard enough times that you MUST have a Facebook page for your small business. You get that, but you’re still holding out, or you’re sitting on a nearly empty Facebook page. You’ve heard about and probably have even seen the results…
                  </p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>