            <div class="item">
                <div class="row">
                  <div class="col-lg-12">
                    <h3>"[[+tv.featuredQuote]]"</h3>
                    <p>-[[+tv.quotee]]-</p>
                  </div>
                </div><!-- /.row -->
            </div>
